{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VioletStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">   
</head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'tienda:index' %}">VioletStore
            <img src="{% static 'imagenes/logo.png' %}" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'tienda:index' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tienda:iniciosesion' %}">Inicia sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tienda:registrate' %}">Regístrate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tienda:contacto' %}">Contáctanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tienda:carrito' %}">Carrito</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tienda:admin' %}">Modo Admin</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>

      {% block content %}
      <div class="container mt-4">
        <h1>Categorías</h1>
        <div class="row">
            {# Mostrar categorías con imágenes estáticas #}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="{% static 'imagenes/blu1.jpg' %}" class="card-img-top" alt="Blusas">
                    <div class="card-body">
                        <h5 class="card-title">Blusas</h5>
                        <a href="{% url 'tienda:blusas' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="{% static 'imagenes/fal1.jpg' %}" class="card-img-top" alt="Faldas">
                    <div class="card-body">
                        <h5 class="card-title">Faldas</h5>
                        <a href="{% url 'tienda:faldas' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="{% static 'imagenes/pant1.jpg' %}" class="card-img-top" alt="Pantalones">
                    <div class="card-body">
                        <h5 class="card-title">Pantalones</h5>
                        <a href="{% url 'tienda:pantalones' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="{% static 'imagenes/img5.jpg' %}" class="card-img-top" alt="Novedades">
                    <div class="card-body">
                        <h5 class="card-title">Novedades</h5>
                        <a href="{% url 'tienda:novedades' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h1>Descuentos <img src="{% static 'imagenes/corazon.png' %}" alt="Logo" width="35" height="35" class="d-inline-block align-text-top"></h1>
        <div class="row">
            {% for producto in productos_descuento %}
            {% if producto.identificador %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text"><del class="text-muted">${{ producto.precio }}</del> <span class="text-danger">${{ producto.precio_descuento }}</span></p>
                        <form method="post" action="{% url 'tienda:agregar_al_carrito' producto.identificador %}">
                          {% csrf_token %}
                          <div class="input-group mb-2">
                            <input type="number" name="cantidad" value="1" min="1" class="form-control" style="max-width:80px;" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>

  <footer class="footer-custom text-center py-4 mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contacto</h5>
          <p> +56 9 1234 5666</p>
          <p> contacto@violetstore.com</p>
        </div>
        <div class="col-md-4">
          <h5>Dirección</h5>
          <p> Av. Principal 123, Providencia, Chile</p>
        </div>
        <div class="col-md-4">
          <h5>Síguenos</h5>
          <a href="#" class="text-white me-2">Facebook</a>
          <a href="#" class="text-white me-2">Instagram</a>
          <a href="#" class="text-white">Twitter</a>
        </div>
      </div>
      <p class="mt-3">&copy; 2025 VioletStore - Todos los derechos reservados.</p>
    </div>
  </footer>
  
</html>